<!DOCTYPE html>
<title>Steampunk IRC</title>
<style>
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 0;
}

#users {
  font-size: 14px;
  background: #f0f0f0;
  position: absolute;
  width: 20%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
}

#users .user {
  padding: 8px;
}

#users .user:first-child {
  border-top: none;
}

#users .user {
  border-top: 1px dotted gray;
}

#users .user ul.channels {
  display: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  color: gray;
}

#users .user ul.channels li {
  display: inline;
  padding-left: 10px;
}

#messages {
  padding: 0;
  font-size: 14px;
  position: absolute;
  width: 80%;
  top: 0px;
  right: 0px;
  bottom: 36px;
  overflow: auto;
}

#messages .log {
  padding: 4px;
}

#messages .log.error {
  color: firebrick;
  font-weight: bold;
}

#messages .log.info {
  color: gray;
}

#messages .log.echo {
  border-left: 3px solid #c0c0c0;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  color: gray;
}

#messages .log.old-msg {
  color: gray;
}

#messages .log.private-msg {
  background: firebrick;
  color: white;
}

#messages .log.private-msg .nick {
  color: white;
}

#messages .log .nick {
  color: steelblue;
  font-weight: bold;
}

#messages .log .target {
  font-weight: bold;
}

#messages .log time {
  float: right;
  font-size: 12px;
}

#input-area {
  position: absolute;
  padding: 6px;
  bottom: 0px;
  right: 0px;
  height: 36px;
  width: 80%;
  background: #505050;
  font-size: 18px;
}

#cmd {
  width: 100%;
  border: none;
  background: inherit;
  font: inherit;
  color: white;
}

#cmd:focus {
  outline: none;
}
</style>
<div id="users"></div>
<div id="messages"></div>
<div id="input-area"><input type="text" id="cmd"></div>
<script type="text/html" id="message-template">
  <div class="log message <%- targetType %>">
    <span class="nick"><%- nick %></span> 
    @ 
    <span class="target"><%- target %></span>:
    <%= html %>
    <time data-timestamp="<%- timestamp %>"><%- prettyTime %></time>
  </div>
</script>
<script src="socket.io/socket.io.js"></script>
<script src="jquery.min.js"></script>
<script src="scrollto.jquery.min.js"></script>
<script src="underscore.min.js"></script>
<script>
var irc = {
  socket: null,
  say: function(target, message) {
    this.socket.emit('say', {target: target, message: message});
  },
  join: function(channel) {
    this.socket.emit('join', {channel: channel});
  },
  part: function(channel) {
    Users.removeChannel(channel);
    this.socket.emit('part', {channel: channel});
  },
  whois: function(nick) {
    this.socket.emit('whois', {nick: nick});
  },
  getNames: function(channel) {
    this.socket.emit('names', {channel: channel});
  },
  setCustomGlobalMetadata: function(key, value) {
    this.socket.emit('set-custom-global-metadata', {key: key, value: value});
  },
  getCustomGlobalMetadata: function(cb) {
    this.socket.emit('get-custom-global-metadata');
    this.socket.once('custom-global-metadata', cb);
  },
  getLoggedMessages: function(start, end, cb) {
    var self = this;
    
    function onLoggedMessages(data) {
      if (data.start == (start || 0) && data.end == end) {
        self.socket.removeListener('logged-messages', onLoggedMessages);
        cb(data.messages);
      }
    }
    
    this.socket.emit('get-logged-messages', {start: start, end: end});
    self.socket.addListener('logged-messages', onLoggedMessages);
  }
};

function splitAtSpace(input) {
  var firstSpace = input.indexOf(" ");
  var arg = "";
  var cmd = input;
  if (firstSpace != -1) {
    cmd = input.slice(0, firstSpace);
    arg = input.slice(firstSpace).trim();
  }
  return [cmd, arg];
}

function handleCommand(input) {
  var parts = splitAtSpace(input);
  var cmd = parts[0];
  var arg = parts[1];
  
  if (cmd == "/who") {
    if (!arg)
      return log("error", "Please specify a channel to list names of, or " +
                 "a nick to get more information on.");
    if (arg[0] == '#') {
      log("Looking for people in " + arg + "...");
      irc.getNames(arg);
    } else {
      irc.whois(arg);
    }
  } else if (cmd == "/join") {
    if (!arg)
      return log("error", "Please specify a channel to join.");
    log("Attempting to join " + arg + "...");
    irc.join(arg);
  } else if (cmd == "/leave") {
    if (!arg)
      return log("error", "Please specify a channel to leave.");
    log("Attempting to leave " + arg + "...");
    irc.part(arg);
  } else
    log("error", "Unrecognized command.");
}

function getChannelList() {
  var channels = [];
  Users.el.find("ul.channels > li").each(function() {
    channels.push($(this).text());
  });
  return _.uniq(channels);
}

function getChannelAutocompletions(to, channels) {
  return _.filter(channels, function(channel) {
    return (channel.indexOf(to) == 0);
  });
}

function handleSay(input) {
  var parts = splitAtSpace(input);
  var to = parts[0];
  var msg = parts[1];
  
  if (to[0] == '@') {
    to = to.slice(1);
    if (!to)
      return log("error", "Please specify a user after @.");
  } else {
    var channels = getChannelList();
    var matches = getChannelAutocompletions(to, channels);
    if (matches.length == 0)
      return log("error", "Unknown channel. Please choose from: " +
                 channels.join(", ") + ".");
    if (matches.length > 1)
      return log("error",
                 "I'm not sure whether you mean " + matches.join(" or ") +
                 ". Please be more specific.");
    to = matches[0];
  }

  if (!msg)
    return log("error",
               "I understand that you want to talk to " + to + ", but " +
               "I need a message.");
  log("Sending your message to " + to + "...");
  irc.say(to, msg);
}

$("#cmd").keyup(function(event) {
  if (event.keyCode == 13) {
    var input = $(this).val().trim();
    $(this).val('');
    if (!input)
      return;
    log('echo', input);
    if (input[0] == '/')
      handleCommand(input);
    else if (input[0] == '@' || input[0] == '#')
      handleSay(input);
    else
      log("error", "Your input should start with /, #, or @.");
  }
});

function log(type, msg) {
  if (msg === undefined) {
    msg = type;
    type = "info";
  }
  $('<div class="log ' + type + '"></div>').text(msg).addToMessages();
}

var scrollToTimeout;

jQuery.fn.extend({
  addToMessages: function(forceScroll) {
    var MOUSEWHEEL_EVT = "mousewheel DOMMouseScroll";

    function onMouseWheel() {
      // If the user tries to manually scroll while we're auto-scrolling,
      // respect their intentions and abort our auto-scroll.
      messages.unbind(MOUSEWHEEL_EVT, onMouseWheel);
      clearTimeout(scrollToTimeout);
      messages.stop();
    }
    
    function isScrolledToBottom() {
      var scrollBottom = messages.scrollTop() + messages.outerHeight();
      return (scrollBottom == messages[0].scrollHeight);
    }
    
    function scrollToBottomOfMessages() {
      messages.bind(MOUSEWHEEL_EVT, onMouseWheel);
      clearTimeout(scrollToTimeout);
      scrollToTimeout = setTimeout(function() {
          messages.scrollTo('max', {
            duration:500,
            onAfter: function() {
              messages.unbind(MOUSEWHEEL_EVT, onMouseWheel);
              
              // If more messages arrived while we were scrolling,
              // keep scrolling!
              if (!isScrolledToBottom())
                scrollToBottomOfMessages();
            }
          });
      }, 100);
    }
    
    var messages = $("#messages");
    
    // We don't want to annoy the user by scrolling to the bottom if
    // they're reading something important in the backbuffer, so only
    // auto-scroll if they're already at the bottom of the document.
    if (forceScroll || isScrolledToBottom())
      scrollToBottomOfMessages();
    
    // TODO: If they're not at the bottom of the document, display some
    // other form of visual indication to let them know that new messages
    // have arrived.
    this.appendTo(messages);
    return this;
  }
});

var Users = {
  el: $("#users"),
  _removeUsersWithoutChannels: function() {
    this.el.find('ul.channels:empty').closest(".user").remove();
  },
  _insertAlphabetically: function(user, nick) {
    nick = nick.toLowerCase();
    var users = this.el.find(".user");
    for (var i = 0; i < users.length; i++) {
      var otherNick = $(users[i]).find(".nick").text().toLowerCase();
      if (nick < otherNick) {
        user.insertBefore(users[i]);
        return;
      }
    }
    this.el.append(user);
  },
  add: function(nicks, channel) {
    var el = this.el;
    var self = this;
    channel = channel.slice(1);
    nicks.forEach(function(nick) {
      var user = el.find(".nick-" + nick);
      if (!user.length) {
        user = $('<div class="user"></div>')
          .addClass("nick-" + nick);
        self._insertAlphabetically(user, nick);
        $('<span class="nick"></span>').text(nick).appendTo(user);
        $('<ul class="channels"></ul>').appendTo(user);
      }
      if (!user.find('ul.channels .channel-' + channel).length) {
        $('<li></li>').addClass("channel-" + channel).text('#' + channel)
          .appendTo(user.find('ul.channels'));
      }
    });
  },
  remove: function(nicks, channel) {
    var el = this.el;
    if (channel)
      channel = channel.slice(1);
    nicks.forEach(function(nick) {
      var user = el.find(".nick-" + nick);
      if (user.length) {
        if (channel) {
          user.find('ul.channels .channel-' + channel).remove();
        } else
          user.remove();
      }
    });
    this._removeUsersWithoutChannels();
  },
  removeChannel: function(channel) {
    channel = channel.slice(1);
    this.el.find("ul.channels .channel-" + channel).remove();
    this._removeUsersWithoutChannels();
  },
  change: function(oldnick, newnick) {
    var user = this.el.find(".nick-" + oldnick);
    if (user.length) {
      user.removeClass("nick-" + oldnick);
      user.addClass("nick-" + newnick);
      user.find(".nick").text(newnick);
      user.remove();
      this._insertAlphabetically(user, newnick);
    }
  }
};

var Login = {
  KEY: "steampunk_irc_login_info",
  set: function(username, password) {
    localStorage[this.KEY] = JSON.stringify({
      username: username,
      password: password
    });
  },
  get: function() {
    try {
      return JSON.parse(localStorage[this.KEY]);
    } catch (e) {
      return null;
    }
  },
  clear: function() {
    delete localStorage[this.KEY];
  }
};

$(window).ready(function() {
  var loginInfo = Login.get();
  if (!loginInfo) {
    log("error", "Please use Login.set(username, password) at the " +
        "JS console, then refresh the page to login.");
    return;
  }
  $("#cmd").focus();
  log("Connecting...");
  var socket = io.connect();
  socket.on('connect', function() {
    log("Connected. Logging in...");
    socket.emit('login', {
      username: loginInfo.username,
      password: loginInfo.password
    });
  });
  socket.on('configuration', function(config) {
    log("info", "Your nick is " + config.nick +
        ". You are in channels: " + config.channels.join(", ") + ".");
    config.channels.forEach(function(channel) {
      irc.getNames(channel);
    });
    irc.getLoggedMessages(0, undefined, function(messages) {
      messages.forEach(function(msg) {
        var targetType = (msg.to[0] == "#") ? "channel-msg" : "private-msg";
        var html = _.template($("#message-template").text(), {
          targetType: targetType + " old-msg",
          nick: msg.nick,
          target: msg.to,
          html: linkifyTextToHTML(msg.text),
          timestamp: msg.timestamp.toString(),
          prettyTime: prettyDate(msg.timestamp)
        });
        $(html.trim()).addToMessages(true);
      });
    });
  });
  socket.on('join', function(info) {
    Users.add([info.nick], info.channel);
    log("info", info.nick + " has joined " + info.channel + ".");
  });
  socket.on('part', function(info) {
    Users.remove([info.nick], info.channel);
    log("info", info.nick + " has left " + info.channel + ".");
  });
  socket.on('whois', function(info) {
    if (!info)
      return log("error", "No information is available on that user.");
    log(info.nick + " is " + info.realname + ". They are in the " +
        "following channels: " + info.channels.join(", ") + ".");
  });
  socket.on('quit', function(info) {
    Users.remove([info.nick]);
    log("info", info.nick + " has left the building.");
  });
  socket.on('kick', function(info) {
    Users.remove([info.nick], info.channel);
    log("info", info.nick + " has been kicked from " + info.channel + ".");
  });
  socket.on('kill', function(info) {
    Users.remove([info.nick]);
    log("info", info.nick + " has been killed from the server.");
  });
  socket.on('names', function(info) {
    var nicks = Object.keys(info.nicks);
    Users.add(nicks, info.channel);
    log("info", "Inside " + info.channel + " are: " +
        nicks.join(", ") + ".");
  });
  socket.on('nick', function(info) {
    Users.change(info.oldnick, info.newnick);
    log(info.oldnick + " is now known as " + info.newnick + ".");
  });
  socket.on('message', function(msg) {
    var targetType = (msg.to[0] == "#") ? "channel-msg" : "private-msg";
    var timestamp = Date.now();
    var html = _.template($("#message-template").text(), {
      targetType: targetType,
      nick: msg.nick,
      target: msg.to,
      html: linkifyTextToHTML(msg.text),
      timestamp: timestamp.toString(),
      prettyTime: prettyDate(timestamp)
    });
    $(html.trim()).addToMessages();
  });
  ['go-away', 'message', 'names', 'topic', 'nick', 'join', 'part',
   'message', 'custom-global-metadata', 'change-custom-global-metadata',
   'pong', 'logged-messages', 'configuration', 
   'irc-error', 'whois'].forEach(function(event) {
    socket.on(event, function(data) {
      console.log("MESSAGE:", event, data);
    });
  });
  socket.on('irc-error', function(info) {
    log("error", "Alas, an IRC error occurred: " + info.command);
  });
  socket.on('disconnect', function() {
    log("error", "The connection to the server has been lost.");
  });
  irc.socket = socket;
});

setInterval(function() {
  $("time[data-timestamp]").each(function() {
    var timestamp = $(this).attr("data-timestamp");
    $(this).text(prettyDate(timestamp));
  });
}, 60000);

// This should be secure because we're never manually escaping anything
// ourselves; instead, we always use safe DOM methods to do that work
// for us.
var linkifyTextToHTML = (function() {
  // This regex is slightly modified from:
  // http://www.codinghorror.com/blog/2008/10/the-problem-with-urls.html
  var RE = /\(?\bhttps?:\/\/[-A-Za-z0-9+&@#\/%?=~_()|!:,.;]*[-A-Za-z0-9+&@#\/%=~_()|]/;
  
  return function(text) {
    function addText(parent, text) {
      if (text)
        parent.appendChild(document.createTextNode(text));
    }
    
    var docFrag = document.createElement('span');
    
    while (text) {
      var a = RE.exec(text);
      if (!a)
        break;
      var url = text.slice(a.index, a.index + a[0].length);
      var anchor = document.createElement('a');
      anchor.setAttribute('href', url);
      anchor.setAttribute('target', '_blank');
      anchor.setAttribute('rel', 'nofollow');
      addText(docFrag, text.slice(0, a.index));
      docFrag.appendChild(anchor);
      addText(anchor, url);
      text = text.slice(a.index + a[0].length);
    }
    if (text)
      addText(docFrag, text);
    return docFrag.innerHTML;
  };
})();

// From http://ejohn.org/blog/javascript-pretty-date/

/*
 * JavaScript Pretty Date
 * Copyright (c) 2011 John Resig (ejohn.org)
 * Licensed under the MIT and GPL licenses.
 */

// Takes a numeric timestamp and returns a string representing how
// long ago the date represents.
function prettyDate(timestamp){
  var date = new Date(parseInt(timestamp)),
    diff = (((new Date()).getTime() - date.getTime()) / 1000),
    day_diff = Math.floor(diff / 86400);
      
  if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
    return;
      
  return day_diff == 0 && (
      diff < 60 && "just now" ||
      diff < 120 && "1 minute ago" ||
      diff < 3600 && Math.floor( diff / 60 ) + " minutes ago" ||
      diff < 7200 && "1 hour ago" ||
      diff < 86400 && Math.floor( diff / 3600 ) + " hours ago") ||
    day_diff == 1 && "Yesterday" ||
    day_diff < 7 && day_diff + " days ago" ||
    day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks ago";
}
</script>
